{# Formulaire de réinitialisation du mot de passe #}

{% extends 'disposition_standard.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block contenu %}
{# TODO : Remplacer par nos propres composants flash #}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer le courier de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
