{% extends 'disposition_standard.html.twig' %}

{% block title %}Handi'chiens - Modifier le profil{% endblock %}

{% block contenu %}

    <h1>Modifier le profil</h1>

    {{ form(form) }}

{% endblock %}
