{% extends 'disposition_standard.html.twig' %}

{% block title %}Handi'chiens - Nouvelle disponibilité{% endblock %}

{% block contenu %}
    {{ form(form) }}

    <a href="{{ path('app_mes_disponibilites') }}">Annuler</a>
{% endblock %}

