{% extends 'disposition_standard.html.twig' %}

{% block title %}Handi'chiens - Nouvelle disponibilité{% endblock %}

{% block contenu %}

    {{ form(form) }}

    {% if is_granted('ROLE_FAMILLE') %}
        <a href="{{ path('app_mes_disponibilites') }}">Annuler</a>
    {% endif %}

    {# TODO : Nous devons passer la famille à la vue pour choisir un titre et générer un lien "Annuler" pour l'éducateur #}
{% endblock %}

