{% extends 'disposition_standard.html.twig' %}

{% block title %}Handi'chiens - Administrateur{% endblock %}

{% block contenu %}

    <p>Vous êtes connecté en tant qu'administrateur.</p>

    <p><a href="{{ path('app_deconnexion') }}">Se déconnecter.</a></p>

    <pre>User :</pre>
    {{ dump(app.user) }}


{% endblock %}
