{% extends 'disposition_standard.html.twig' %}

{% block title %}Handi'chiens - Accueil{% endblock %}

{% block contenu %}

    <h1>Handi'chiens Vineuil - Accueil</h1>

    Bonjour <strong>{{ app.user.prenom ~ ' ' ~ app.user.nom }}</strong>.
    {# TODO : Vérifier que l'utilisateur est bien de type famille pour éviter toute erreur ? #}

    <pre>Afficher un résumé des disponibilités et affectations</pre>
    <ul>
        {% for affectation in app.user.affectations %}
            <li>
                {{ affectation.debut|date ~ ' - ' ~ affectation.fin|date }}
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_deconnexion') }}">Se déconnecter.</a>

{% endblock %}
