/* POLICES */

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin-700.svg#Raleway') format('svg');
    /* Legacy iOS */
}

/* VARIABLES */

:root {
    --bleu: #5EB6DE;
    --noir: #000;
    --blanc: #FFF;
    --gris: #606060;
}

/* global */

.hidden {
    display: none;
}

/* TYPOGRAPHIES */

body {
    font-family: Raleway, sans-serif;
    line-height: 1.2;
    font-weight: regular;
    color: var(--noir);
    background-color: var(--blanc);
}

.titre {
    font-weight: bold;
    font-size: 2.5rem;
}

/* COMPOSANTS */
/* navigation */
.navigation {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navigation__accueil--logo {
    width: 10rem;
    height: 10rem;
}

.navigation__toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    border: none;
    background-color: inherit;
}

.navigation__toggle--bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navigation__menu {
    height: 100%;
}

.navigation__menu--liste {
    display: flex;
    gap: 2rem;
}

.navigation__lien {
    color: var(--blanc);
    text-transform: uppercase;
    padding: 1rem;
    text-decoration: none;
}

.navigation__lien:hover {
    color: var(--bleu);
}

@media screen and (max-width: 800px) {

    .navigation__accueil--logo {
        width: 5rem;
        height: 5rem;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation__toggle {
        display: flex;
    }

    .navigation__menu {
        display: none;
        width: 100%;
    }

    .navigation__menu--liste {
        width: 100%;
        flex-direction: column;
    }

    .navigation__menu--liste li {
        text-align: center;
    }

    .navigation__lien {
        padding: .5rem 1rem;
    }

    .navigation__menu.active {
        display: flex;
        padding: 1rem;
    }
}

/* boutons */
.bouton__principal {
    padding: 1rem;
    background-color: var(--bleu);
    color: var(--noir);
    border-radius: 1rem;
}

.bouton__principal:hover {
    background-color: var(--blanc);
    color: var(--bleu);
}

/* flash */
.flash__validation {
    background-color: rgb(57, 227, 57);
    height: 4rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash__message {
    color: var(--noir);
}

/* LAYOUT */

header {
    background-color: var(--gris);
    color: var(--blanc);
}

.main {
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}