/* POLICES */

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin-700.svg#Raleway') format('svg');
    /* Legacy iOS */
}

/* VARIABLES */

:root {
    --bleu: #5EB6DE;
    --noir: #000;
    --blanc: #FFF;
    --gris: #606060;
    --rouge: #D41B1B;
}

/* global */

.hidden {
    display: none;
}

/* TYPOGRAPHIES */

body {
    font-family: Raleway, sans-serif;
    line-height: 1.2;
    font-weight: normal;
    color: var(--noir);
    background-color: var(--blanc);
}

.titre {
    font-weight: bold;
    font-size: 2.5rem;
}

/* COMPOSANTS */

/* navigation */
.navigation {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navigation__accueil--logo {
    width: 10rem;
    height: 10rem;
}

.navigation__toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    border: none;
    background-color: inherit;
}

.navigation__toggle--bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navigation__menu {
    height: 100%;
}

.navigation__menu--liste {
    display: flex;
    gap: 2rem;
}

.navigation__lien {
    color: var(--blanc);
    text-transform: uppercase;
    padding: 1rem;
    text-decoration: none;
}

.navigation__lien:hover {
    color: var(--bleu);
}

@media screen and (max-width: 800px) {

    .navigation__accueil--logo {
        width: 5rem;
        height: 5rem;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation__toggle {
        display: flex;
    }

    .navigation__menu {
        display: none;
        width: 100%;
    }

    .navigation__menu--liste {
        width: 100%;
        flex-direction: column;
    }

    .navigation__menu--liste li {
        text-align: center;
    }

    .navigation__lien {
        padding: .5rem 1rem;
    }

    .navigation__menu.active {
        display: flex;
        padding: 1rem;
    }
}

/* boutons */
.bouton {
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px transparent;
}

.bouton__principal {
    background-color: var(--bleu);
    color: var(--noir);
}

.bouton__principal:hover {
    background-color: var(--blanc);
    color: var(--bleu);
    border: solid 1px var(--bleu);
}

.bouton__secondaire {
    background-color: var(--gris);
    color: var(--blanc);
}

.bouton__secondaire:hover {
    background-color: var(--blanc);
    color: var(--gris);
    border: solid 1px var(--gris);
}

.bouton__danger {
    background-color: var(--rouge);
    color: var(--blanc);
}

.bouton__danger:hover {
    background-color: var(--blanc);
    color: var(--rouge);
    border: solid 1px var(--rouge);
}

/* flash */
.flash {
    height: 4rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    border: 2px solid transparent;
}

.flash__success {
    background-color: rgb(212, 237, 218);
    border-color: rgb(195, 230, 203);
}

.flash__warning {
    background-color: rgb(255, 243, 205);
    border-color: rgb(255, 238, 186);
}

.flash__error {
    background-color: rgb(248, 215, 218);
    border-color: rgb(245, 198, 203);
}

.flash__success .flash__message {
    color: rgb(21, 87, 36);
}

.flash__warning .flash__message{
    color: rgb(133, 100, 4);
}

.flash__error .flash__message{
    color: rgb(114, 28, 36);
}

/* cartes */

.carte {
    margin: 3.2rem;
    padding: 3.2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    max-width: 50rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.carte__icones--image {
    width: 5rem;
    height: 5rem;
}

.carte__textes {
    display: flex;
    flex-direction: column;
}

.carte:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* LAYOUT */

header {
    background-color: var(--gris);
    color: var(--blanc);
}

.main {
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}