{% extends 'base.html.twig' %}

{% block body %}
<header class="header">
	{{component('navbar')}}
</header>

{# read and display all flash messages #}
    {% for label, messages in app.flashes(['succes', 'avertissement', 'erreur']) %}
        {% for message in messages %}
            {{ component( 'flash', {
                type:  label ,
                message:  message 
                })
            }}
        {% endfor %}
    {% endfor %}

<main class="main">
	{% block contenu %}
		{%endblock%}
	</main>

{% endblock %}
