<a href="{{ href }}" class="carte {{ class }}">

    <div class="carte__icones">
        {% for img in icone %}
            <img class="carte__icones--image" src="{{ img }}" alt="">
        {% endfor %}
    </div>

    <div class="carte__textes">
        {% for ligne in texte %}
            <p>{{ ligne }}</p>
        {% endfor %}
    </div>
</a>