<nav class=".navigation">
	<a href="/" class=".navigation__accueil">
		<img src="/" alt="logo accueil">
	</a>
	<a href="/">Accueil</a>
	<a href="/disponibilite">Mes Disponibilités</a>
	<a href="/profil">Mon Profil</a>

	<a href="/deconnexion">Déconnexion</a>
</nav>
