{% extends 'disposition_standard.html.twig' %}

{% block title %}
Handi'chiens - Test
{% endblock %}

{% block contenu %}
    <h1>Test requête famille</h1>
{{ component('affectation_choix_famille') }}
{% endblock %}



